# ~/personal/.gitconfig.pers
[user]
  email = mpiantella@hotmail.com
  name = Maria Lucena
 
[github]
  user = "mpiantella"

[url "https://github.com/"]
	insteadof = git://github.com/

[http "https://github.com"]
  proxy = http://:@proxy.fmr.com:8001

[core]
  sshCommand = "ssh -i ~/.ssh/mpiantella"
